
  <nav class=" ">

    <ul class="nav">
        <li class="nav-link">
          <a class="link6 text-dark " href="#"> Fashion</a>   
        </li>
    </ul>
    <ul class="nav">
      <li class="nav-link">
        <a class="link6 text-dark" href="#"> Life Style</a> 
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-link">
        <a class="link6 text-dark" href="#"> Music</a>   
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-link">
        <a class="link text-dark" href="#">Technology <i class="fas fa-sort-down"></i>  </a>
          <ul class="">
            <li class="nav-link links">
              <a class="nav-item text-dark" href="">New Inventions</a>
            </li>
            <li class="nav-link links">
              <a class="nav-item text-dark" href="">Popular Technologies</a>
            </li>
          </ul>
      </li>
    </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link3 text-dark" href="#">Islamic Blogs <i class="fas fa-sort-down"></i></a>
            <ul class="">
              <li class="nav-link links3">
                <a class="nav-item text-dark" href="">Bangla Hadith</a>
              </li>
              <li class="nav-link links3">
                <a class="nav-item text-dark" href="">Others Islamic Blogs</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link2 text-dark" href="#"> Famous Quotes <i class="fas fa-sort-down"></i></a>
            <ul class="">
              <li class="nav-link links2">
                <a class="nav-item text-dark" href=""> Motivational </a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-dark" href="">Poems</a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-dark" href="">Travels</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link4 text-dark" href="#"> Famous Quotes <i class="fas fa-sort-down"></i></a>
            <ul class="">
              <li class="nav-link links4">
                <a class="nav-item text-dark" href=""> Motivational </a>
              </li>
              <li class="nav-link links4">
                <a class="nav-item text-dark" href="">Poems</a>
              </li>
              <li class="nav-link links4">
                <a class="nav-item text-dark" href="">Travels</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link5 text-dark" href="#"> Travels <i class="fas fa-sort-down"></i></a>
            <ul class="">
              <li class="nav-link links5">
                <a class="nav-item text-dark" href=""> Famous Spots </a>
              </li>
              <li class="nav-link links5">
                <a class="nav-item text-dark" href="">Countries</a>
              </li>
              <li class="nav-link links5">
                <a class="nav-item text-dark" href="">Places</a>
              </li>
            </ul>
        </li>
      </ul>
      

  </nav>
