<!---------footer section start-------->

<div class="footer p-3" style="background-color:#000033;">
  <div class="footer-content">
    <div class="row">
      <div class="col-md-4">
        <div class="h2">
          <span class="text-warning footer-text" style="font-family: 'Potta One', cursive;">Halal </span
          ><strong class="text-info footer-text" style="font-family: 'Potta One', cursive;">Fashion </strong
          ><span class="text-danger font-weight-bold h1 footer-text"> </span>
        </div>
        <div class="text-box text-justify text-info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
          consectetur exercitationem sapiente blanditiis alias odit quas
          nesciunt quasi vitae eaque.
        </div>
        <hr />
        <div class="contact mt-2 mb-2">
          <div class="">
            <a href="mailto:blackandblur528@gmail.com" class="text-info">
              <i class="fas fa-at"></i> blackandblur58@gmail.com</a
            >
          </div>

          <div class="">
            <a href="callto:018XXXXXXXX" class="text-info"
              ><i class="fas fa-mobile-alt"></i> +88018XXXXXXXX</a
            >
          </div>
        </div>
        <div class="media">
          <a href="" class="sbox facebook">
            <i class="fab fa-facebook-square"></i
          ></a>
          <a href="" class="sbox instragram"
            ><i class="fab fa-instagram text-danger"></i
          ></a>
          <a href="" class="sbox twitter"
            ><i class="fab fa-twitter-square"></i
          ></a>
          <a href="" class="sbox youtube text-danger"
            ><i class="fab fa-youtube-square"></i
          ></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h3">
          <strong class="text-info">Quick</strong>
          <strong class="text-danger">Links</strong>
        </div>
        <div class="links">
          <ul>
            <li>
              <a class="link text-info" href="#">Event</a>
            </li>
            <li>
              <a class="link text-info" href="/">Home</a>
            </li>
            <li>
              <a class="link text-info" href="#">Contact</a>
            </li>
            <li>
              <a class="link text-info" href="#">Shopping</a>
            </li>
            <li>
              <a class="link text-info" href="#">Galleries</a>
            </li>
            <li>
              <a class="link text-info" href="#">Write us</a>
            </li>
            <li>
              <a class="link text-info" href="#">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <form action="">
          <div class="form-group">
            <label for="email" class="text-danger">Enter E-mail Address:</label>
            <input type="email" name="email" class="form-control" />
          </div>
          <div class="from-group">
            <label for="email" class="text-danger">Write Message:</label>
            <textarea
              name="text"
              id=""
              class="form-control"
              cols="5"
              rows="3"
            ></textarea>
          </div>
          <button type="button" class="btn btn-info float-right mt-1">
            <i class="fas fa-envelope"></i> Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="name bg-dark text-info d-flex justify-content-center align-items-center"
>
  &copy; Designed & Developed by Md Atikur Rahman
</div>

<!---------footer section end-------->