
  <nav class=" bg-light" style="background-color: #2d618c;">
    <ul class="nav">
      <li class="nav-link">
        <a class="link text-dark" href="#">Mans Cloths </a>
          <ul class="">
            <li class="nav-link links">
              <a class="nav-item text-dark" href=""> Shirt</a>
            </li>
            <li class="nav-link links">
              <a class="nav-item text-dark" href="">Pants </a>
            </li>
          </ul>
      </li>
    </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link3 text-dark" href="#">Womens Cloths</a>
            <ul class="">
              <li class="nav-link links3">
                <a class="nav-item text-dark" href="">Three Piece</a>
              </li>
              <li class="nav-link links3">
                <a class="nav-item text-dark" href="">Sharee</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link2 text-dark" href="#"> Famous Quotes</a>
            <ul class="">
              <li class="nav-link links2">
                <a class="nav-item text-dark" href=""> Motivational </a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-dark" href="">Poems</a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-dark" href="">Travels</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link4 text-dark" href="#"> Shoes</a>
            <ul class="">
              <li class="nav-link links4">
                <a class="nav-item text-dark" href=""> Man Shoes </a>
              </li>
              <li class="nav-link links4">
                <a class="nav-item text-dark" href="">Women Shoes</a>
              </li>
              
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link5 text-dark" href="#"> Travels</a>
            <ul class="">
              <li class="nav-link links5">
                <a class="nav-item text-dark" href=""> Famous Spots </a>
              </li>
              <li class="nav-link links5">
                <a class="nav-item text-dark" href="">Countries</a>
              </li>
              <li class="nav-link links5">
                <a class="nav-item text-dark" href="">Places</a>
              </li>
            </ul>
        </li>
      </ul>

  </nav>
