{% load static %}
<div class="card" height="400px">
    <img class="card-img-top" src="{% static 't-shirt3.jpg' %}" height="250px" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">T-Shirt </h5>
        <p class="card-text">Pleas login first to buy the products.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-warning btn-block">Add to Cart</a>
    <div>
</div>                                                                                                                                            