
  <nav class=" " style="background-color: #2d618c;">
    <ul class="nav">
      <li class="nav-link">
        <a class="link text-light" href="#">Category Manage </a>
          <ul class="">
            <li class="nav-link links">
              <a class="nav-item text-light" href="">Add Category</a>
            </li>
  <nav class=" bg-light" style="background-color: #2d618c;">
    <ul class="nav">
      <li class="nav-link">
        <a class="link text-dark" href="#">Technology Blogs </a>
          <ul class="">
            <li class="nav-link links">
              <a class="nav-item text-dark" href="">New Inventions</a>
            </li>
            <li class="nav-link links">
              <a class="nav-item text-dark" href="">Popular Technologies</a>
            </li>
          </ul>
      </li>
    </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link3 text-dark" href="#">Islamic Blogs</a>
            <ul class="">
              <li class="nav-link links3">
                <a class="nav-item text-dark" href="">Bangla Hadith</a>
              </li>
              <li class="nav-link links3">
                <a class="nav-item text-dark" href="">Others Islamic Blogs</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link2 text-dark" href="#"> Famous Quotes</a>
            <ul class="">
              <li class="nav-link links2">
                <a class="nav-item text-dark" href=""> Motivational </a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-dark" href="">Poems</a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-dark" href="">Travels</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link4 text-dark" href="#"> Famous Quotes</a>
            <ul class="">
              <li class="nav-link links4">
                <a class="nav-item text-dark" href=""> Motivational </a>
              </li>
              <li class="nav-link links4">
                <a class="nav-item text-dark" href="">Poems</a>
              </li>
              <li class="nav-link links4">
                <a class="nav-item text-dark" href="">Travels</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link5 text-dark" href="#"> Travels</a>
            <ul class="">
              <li class="nav-link links5">
                <a class="nav-item text-dark" href=""> Famous Spots </a>
              </li>
              <li class="nav-link links5">
                <a class="nav-item text-dark" href="">Countries</a>
              </li>
              <li class="nav-link links5">
                <a class="nav-item text-dark" href="">Places</a>
              </li>
            </ul>
        </li>
      </ul>

  </nav>

            <li class="nav-link links">
              <a class="nav-item text-light" href="">Categories</a>
            </li>
          </ul>
      </li>
    </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link3 text-light" href="#">পণ্য মেনেজ</a>
            <ul class="">
              <li class="nav-link links3">
                <a class="nav-item text-light" href="">Add পণ্য</a>
              </li>
              <li class="nav-link links3">
                <a class="nav-item text-light" href="">পণ্য</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link2 text-light" href="#"> পোষ্ট মেনেজ</a>
            <ul class="">
              <li class="nav-link links2">
                <a class="nav-item text-light" href=""> Create Post</a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-light" href="">Posts</a>
              </li>
            </ul>
        </li>
      </ul>

  </nav>
