
  <nav class=" " style="background-color: #2d618c;">
    <ul class="nav">
      <li class="nav-link">
        <a class="link text-light" href="#">Category Manage </a>
          <ul class="">
            <li class="nav-link links">
              <a class="nav-item text-light" href="">Add Category</a>
            </li>
            <li class="nav-link links">
              <a class="nav-item text-light" href="">Categories</a>
            </li>
          </ul>
      </li>
    </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link3 text-light" href="#">পণ্য মেনেজ</a>
            <ul class="">
              <li class="nav-link links3">
                <a class="nav-item text-light" href="">Add পণ্য</a>
              </li>
              <li class="nav-link links3">
                <a class="nav-item text-light" href="">পণ্য</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-link">
          <a class="link2 text-light" href="#"> পোষ্ট মেনেজ</a>
            <ul class="">
              <li class="nav-link links2">
                <a class="nav-item text-light" href=""> Create Post</a>
              </li>
              <li class="nav-link links2">
                <a class="nav-item text-light" href="">Posts</a>
              </li>
            </ul>
        </li>
      </ul>

  </nav>
