{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Aboutus-page
{% endblock  %}

 {% block content %} 
    <!---------About section start-------->
        <div class="about-section bg-info pb-3" id="about">
            <div class="container">
            
                <div class="row ">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="about-title text-light"><br>
                            <div class="about-subtitle">
                                About Us
                            </div>
                            <div class="about-main-title text-uppercase">
                                 <strong class="text-warning"> </strong>
                            </div>
                            <div class="about-description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis labore veritatis rerum illum, quisquam quis explicabo recusandae nemo doloremque, sed dignissimos tenetur harum ratione magni soluta facilis vitae id!
                            </div>
                            <button type="button" class="btn btn-outline-warning text-light float-right mt-3 text-uppercase"> read more</button>
                        </div>
                    </div>

                    <div class="col-md-6 about-right-side d-flex justify-content-center align-items-center  ">
                        <div class="about-box float-right">
                            <div class="about-inner-box d-flex justify-content-center align-items-center">
                                <a href="" class="videopopup">
                                    <img src="{% static 'about.jpg' %} " height="300px" alt="image" class="rounded"><br>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        </div>
        <!---------About section end-------->
 {% endblock %}