{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Home-page
{% endblock  %}
{% block content %}

    <div class="row" style="background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{% static "bg.jpg" %}');
    min-height: 600px;
    width:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    ">
        <div class="col-md-12 title text-center d-flex justify-content-center align-items-center" >
            <div class="text-light">
                <h1>
                    <span class="webtitle  font-weight-bold text-light">Welcome to our </span>
                    <span class="webtitle  font-weight-bold text-warning">Halla </span>
                    <strong class="webtitle text-primary  font-weight-bold">Fashion </strong>
                </h1><br>
            <h1 >Creative Fashion Store</h1>
            <a href="#" class="btn btn-warning">Learn More...</a>
            </div>
            
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class=" leftbar col-md-3 bg-">
                {% include 'partials/leftnav.html' %}
            </div>
            <div class="col-md-9 sliders">
                <div class="row ">
                    <div class="col-md-4 py-3">
                        {% include 'partials/slider.html '%}
                    </div>
                    <div class="col-md-4 py-3">
                        {% include 'partials/slider2.html '%}
                    </div>
                    <div class="col-md-4 py-3">
                        {% include 'partials/slider3.html '%}
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-12 Blogs my-2">
                        <h4>blogs</h4>
                    </div>
                    <div class="col-md-4 py-3">
                        {% include 'partials/slider.html '%}
                    </div>
                    <div class="col-md-4 py-3">
                        {% include 'partials/slider2.html '%}
                    </div>
                    <div class="col-md-4 py-3">
                        {% include 'partials/slider3.html '%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}