{% extends 'layouts.html' %}
{% load static %}
{% block title %}
    shopping-page
{% endblock  %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light  ml-3 my-2 rounded-bottom">
                <div class="row ">
                    <div class="col-md-12 bg- m-0 p-3 h3 text-light" style="background-color: #2d618c; font-family: 'Potta One', cursive;">
                        Categories
                    </div>
                </div>
                {% include 'partials/p_leftnav.html' %}
            </div>
            <div class="col-md-9 mx-3 py-2">
                
                    <div class="col-md-12 h4 text-warning text-center py-3 rounded-top" style="background-color: #2d618c;font-family: 'Potta One', cursive; ">
                        Your Favorite Products
                    </div>
                
                <div class="row">
                    <div class="col-md-4">
                        {% include 'partials/shopping_cart.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}